body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    color: gray !important;
}

.carousel-caption{
    top: 8.25rem !important;
}
.carousel-caption h1{
    font-size: 4vw;
}
.carousel-caption p{
    color:rgb(226, 219, 219) !important;
}
.carousel-caption button{
    background-color: #289BDE !important;
    border: none;
}
.carousel-inner{
    background: #1D1D1D !important;
    
}
@media  only screen and (min-width: 200px) and (max-width: 768px) { 
    .carousel-caption{
        top: 2.25rem !important;
    }
 }
 @media  only screen and (min-width: 768px) and (max-width: 991px) { 
    .carousel-caption{
        top: 2.25rem !important;
    }
 }
/*course */
 .our{
    width: 50%;

 }
 .courses-title{
    width: 75%;
   
 }
 @media  only screen and (min-width: 200px) and (max-width: 991px) {
    .our{
        width: 100%;
        padding: 5vw;
        font-size: 20px;
    
     }
     .courses-title{
        width: 100%;
       
     }
  }
/* card*/
.image-card{
    width:65%;
}
.pri{
    font-size: 18px;
}
@media  only screen and (min-width: 200px) and (max-width: 768px) { 
    .image-card{
        width:100%;
    }
    .pri{
        font-size: 20px;
    }
    .card-text{
        font-size: 18px;
    }
}
.accordion-item{
    margin: 20px 0 !important;
    border: 2px solid rgb(231, 228, 228) !important;
   
    border-radius: 10px solid rgb(231, 228, 228) !important;
}
.btn-2{
    background-color: #289BDE !important;
    border: none !important;
}
.btn-3{
    color: #289BDE !important;
}
.ready-to{
    background-color: #289BDE !important;
}
.card-text{
    color: gray;
}
.card-text-2{
    color: rgb(177, 174, 174);
}
.card-text-3{
    color: rgb(226, 219, 219);
}